<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
       <img src="/img/undraw_space-exploration_dhu1.svg" class="d-block mx-lg-auto img-fluid float-start" alt="space illustration" width="700" height="500" loading="lazy">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Maybe/So</h1>
      <p class="col-lg-10 fs-4">
       Create an account to save lists for your Randomizer!
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form id="registerForm" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        <div class="form-floating mb-3">
          <input class="form-control" type="email" name="email" id="email" required>
          <label for="email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="password" name="password" id="password" required>
          <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" type="password" name="password2" id="password2" required>
          <label for="password2">Confirm Password</label>
        </div> 
        <button class="w-50 btn btn-dark" type="submit">Register</button>
        <!-- Placeholder for client-side messages (errors/success) -->
        <div id="message" class="mt-3"></div>
        <p class="text-body-secondary">Already have an account? <a href="/auth/login">Login here</a></p>
      </form>
    </div>
  </div>
</div>
<script src="/js/register.js"></script>

