

  <!-- Footer -->
  <footer class="bg-dark text-light py-3 border-top mt-auto">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
      <p class="mb-0 text-secondary">
        &copy; 2025 <a href="https://rachelrice.netlify.app/" class="link-secondary text-decoration-none">Rachel Rice DevWorks</a>
      </p>
      <a href="/" class="d-flex align-items-center justify-content-center text-secondary text-decoration-none">
        <h2 class="mb-0">maybe/so</h2>
      </a>
    </div>
  </footer>

<!-- Footer -->
<!-- <div class="container">
  <footer class="bg-dark d-flex flex-wrap justify-content-between align-items-center py-3 border-top fixed-bottom">
       
    <p class="col-md-4 mb-0 text-secondary">&copy; 2025 <a href="https://rachelrice.netlify.app/" class="link-secondary text-decoration-none">Rachel Rice DevWorks</a></p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-md-0 me-md-auto link-secondary text-decoration-none">
      <h2>choice.</h2>
    </a> -->
      
    <!-- <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 link-secondary">home</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 link-secondary">about</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 link-secondary">sign in</a></li>
    </ul> -->
    
  <!-- </footer>
</div>
     -->