  <!-- Footer -->
  <footer class="bg-dark text-light py-3 border-top mt-auto">
    <div class="container d-flex flex-wrap justify-content-between align-items-center">
      <p class="mb-0 text-secondary">
        &copy; 2025 <a href="https://rachelrice.netlify.app/" class="link-secondary text-decoration-none">Rachel Rice DevWorks</a>
      </p>
      <a href="/" class="d-flex align-items-center justify-content-center text-secondary text-decoration-none">
        <h2 class="mb-0">maybe/so</h2>
      </a>
    </div>
  </footer>

