<!-- About -->
    <div class="container px-4 py-5">
      
      <h2 class="pb-2 border-bottom">How it works</h2>
  
      <div class="row g-4 py-5">

            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-sign-intersection-y"></i>
              </div>
              <a href="/lists" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Randomizer</h4>
              <p class="text-body-secondary">Can't decide what to do? Make lists of choices, and we'll pick one for you. You can even sign in to save your lists for easy decision making in the future.</p>
            </a>
            </div>
  
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-coin"></i>
                </svg>
              </div>
              <a href="/flip" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Flip a Coin</h4>
              <p class="text-body-secondary">The classic tiebreaker for yes/no decisions.</p>
            </a>
            </div>
  
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-scissors"></i>
              </div>
              <a href="/rock" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Rock | Paper | Scissors</h4>
              <p class="text-body-secondary">Settle disputes with a digital game of rock, paper, scissors.</p>
            </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-123"></i>
              </div>
              <a href="/number" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Pick a Number</h4>
              <p class="text-body-secondary">Pick a random number from 1 to a number you set.</p>
            </a>
            </div>
            
            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-8-circle-fill"></i>
              </div>
              <a href="/#" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Magic 8 Ball</h4>
              <p class="text-body-secondary">Ask a question and get a random response. Coming soon!</p>
            </a>
            </div>

            <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-dice-6"></i>
              </div>
              <a href="/#" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Dice Roll</h4>
              <p class="text-body-secondary">Roll the dice. Coming Soon!</p>
            </a>
            </div>

          </div>
        <!-- </div> -->
      </div>
    </div>         
  