<!-- About -->
    <div class="px-4 py-5">
      <h2 class="pb-2 border-bottom">How it works</h2>
  
      <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
          <h2 class="fw-bold text-body-emphasis">Feeling indecisive?</h2>
          <p class="text-body-secondary">We've got you covered. maybe/so is the ultimate decision-making web app designed for those moments when you just can't choose. Whether it's a simple coin flip, a quick game of rock-paper-scissors, or a randomized option picker, we take the stress out of choosing so you can move forward with confidence.</p>
        </div>
  
        <div class="col">
          <div class="row row-cols-1 row-cols-sm-2 g-4">
            <div class="col d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <!-- <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3"> -->
                <i class="bi bi-sign-intersection-y"></i>
              </div>
              <a href="/items" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Pick One</h4>
              <p class="text-body-secondary">List your choices, and we'll pick one for you. You can even sign in to save your lists for easy decision making in the future.</p>
            </a>
            </div>
  
            <div class="col d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-coin"></i>
                </svg>
              </div>
              <a href="/flip" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Flip a Coin</h4>
              <p class="text-body-secondary">The classic tiebreaker for yes/no decisions.</p>
            </a>
            </div>
  
            <div class="col d-flex flex-column gap-2">
              <div class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-dark bg-gradient fs-4 rounded-3">
                <i class="bi bi-scissors"></i>
              </div>
              <a href="/rock" class="link-offset-2 link-underline link-underline-opacity-0">
              <h4 class="fw-semibold mb-0 text-body-emphasis">Rock | Paper | Scissors</h4>
              <p class="text-body-secondary">Settle disputes with a digital game.</p>
            </a>
            </div>
          
            
          </div>
        </div>
      </div>
    </div>         
  