<!-- Coin Flip -->

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg border-0 rounded-4 text-center p-4">
        <h1 class="display-5 fw-semibold">Flip a Coin</h1>
        <p class="text-muted">Click the coin below to flip</p>
        <div class="my-4">
          <img 
            id="coin" 
            class="img-fluid coin-img" 
            src="/img/heads.png" 
            alt="Coin">
        </div>
        <h2 id="result" class="text-primary coin-result">&nbsp;</h2>
      </div>
    </div>
  </div>
</div>


      