<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flip.</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <h1>Coin Flip</h1>
    </header>

    <h1>Flip the Coin</h1>
    <img id="coin" src="/img/heads.png" alt="Coin">
    <div id="result">Click the coin to flip!</div>
   
 

 

    <script src="/js/script.js"></script>

</body>
</html>